@model SeguridadApp.Models.Agente
@{
    ViewBag.Title = "Crear Agente";

}
<br />
<hr />
<h4 style="text-align:center">Creación de nuevo agente</h4>
<hr />
<br />



    <form class="col s12" action="Create" method="post" id="AgentesForm">
        <div class="card">
        <br />
            <div class="container">
                <div class="row">
                    <div class="input-field col s6 m6 l6">
                        <input placeholder="Primer Apellido" id="apellido1" name="apellido1" type="text" class="validate" required oninvalid="setCustomValidity('Debe llenar Apellido')"
                     oninput="setCustomValidity('')">
                        <label for="apellido1" style="font-size:larger">Primer Apellido</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Segundo Apellido" id="apellido2" name="apellido2" type="text" class="validate">
                        <label for="apellido2" style="font-size:larger">Segundo Apellido</label>
                    </div>

                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Nombres" id="nombres" name="nombres" type="text" class="validate" required oninvalid="setCustomValidity('Falta nombre del Agente')" oninput="setCustomValidity('')">
                        <label for="nombres" style="font-size:larger">Nombres</label>
                    </div>
                    <div class="input-field col s6 m6 l6">
                        @Html.DropDownList("RangoId", (SelectList)ViewBag.RangoId, "Seleccione un Rango",new { required = "required"})
                        
                    </div>

                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Cedula" id="cedula" name="cedula" type="text" class="validate" required oninvalid="setCustomValidity('Cedula es requerida')" oninput="setCustomValidity('')">
                        <label for="cedula" style="font-size:larger">Cedula <i class="far fa-id-card"></i></label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Telefono" id="telefono" name="telefono" type="tel" class="validate" required oninvalid="setCustomValidity('Debe ingresar un telefono o ponga 0')" oninput="setCustomValidity('')">
                        <label for="telefono" style="font-size:larger">Telefono <i class="fas fa-mobile-alt"></i></label>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="Fecha Nacimiento" id="fechaNacimiento" name="fechaNacimiento" type="text" class="validate" required oninvalid="setCustomValidity('Fecha de nacimiento ')" oninput="setCustomValidity('')">
                            <label for="fechaNacimiento" style="font-size:larger">Nacimiento <i class="far fa-calendar-alt"></i></label>
                        </div>
                    </div>
                </div>

            </div>
        </div>   
                <div class="row">
                    <div class="col s3 ">

                    </div>
                    <div class="col s8 m8 l8">
                        <div class="input-field inline col s12 m2 l12">
                            <button class="btn col s8 m8 l8" type="submit" name="action">
                                Guardar
                                <i class="material-icons right">send</i>
                            </button>

                        </div>
                    </div>
                    <div class="col s4 m4 l4">

                    </div>
                </div>
      
    </form>

<div style="text-align:right; margin-right:22px">

    @Html.ActionLink("Regresar al inicio", "Index", null, new { @class = " actionLinkReportar" })
</div>
@section scripts{
    <script>

        $(document).ready(function () {
            $('select').not('.disabled').formSelect();

            $('select').material_select();

     
                  
        });
    </script>
}