body {
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.actionLinkReportar {
    font-size: 18px !important;
    /*text-align:center;*/
    vertical-align: central;
 
}


main {
    flex: 1 0 auto;
}

.linksFooter {
    color:white;
    font-weight:normal;
}
.pCards {
    font-size:x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
}
.pCardsNombres {
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: dodgerblue;
}

.navBarFixTop {
    background-color: #141a1f;
    position: absolute;
    top: 0;
    width: 100%;
    height: 95px;
    color: #fff;
}
.footer {
    background-color: #141a1f;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 95px;
    color: #fff;
    text-align: center;
}